.main-container {
  background-color: $Very-light-gray;
}

.comment {
  background-color: $White;

  &_reply {
    --align: start;
    padding: $padding;
    margin: 0.5rem 0 1rem;

    background-color: $White;

    img {
      width: 50px;
    }

    textarea {
      width: 100%;
    }
  }
}
