@media (min-width: 568px) {
  .comments {
    width: min(800px, 90vw);
  }

  .grid-container {
    grid-template-areas:
      'score header reply'
      'score content content'
      'update update update';

    column-gap: 1rem;
  }

  .comment {
    &_score {
      --direction: column;
      --gap: 0.35rem;
      padding-inline: 0.75rem;
      align-self: start;
      margin: 0;
    }

    &_reply-btn {
      justify-self: end;
    }
  }
}
